html {
  color: #222;
}

h2 {
  font-weight: bold;
  text-align: left;
  font-size: 200%;
  margin-top: -20%;
}

h3 {
  font-weight: bold;
  text-align: left;
  font-size: 125%;
}

.main {
  padding: 25%;
}

.main ul {
  list-style-type: square;
  list-style-position: inside;
}

.main ul ul {
  margin: 0 0 20px 10px;
  list-style-type: disc;
  list-style-position: inside;
}

.main ul.unlock {
  list-style-type: circle;
  list-style-position: inside;
  background: #000 !important;
  color: #000 !important;
}

.main ul.unlock:hover {
  color: #FFF !important;
}

body {
  font-family: Georgia, serif;
  text-align: left;
  max-width: 75em;
  padding: 4em;
}

.responsive-menu {
  width: 20%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px;
  border-style: solid;
  background-color: #dfd;
  z-index: 100;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

a.unlock {
  color: inherit;
}

p.description {
  margin-bottom: 50px;
}

.spacing {
  display: block;
  margin: 20px;
}

.main p {
  margin-top: 8px;
}

.mobile {
  display: none;
}

hr {
  margin-bottom: 20px;
}

article {
  margin: 50px;
  padding: 0.1em;
  max-width: 45%;
}

article p {
  margin-top: 50px;
}

.friend {
  margin: 30px 0;
}

.reaction {
  margin: 20px 0 50px 0;
}

.meibutsu {
  margin-left: -30px;
}

.icon {
  position: relative;
  width: 60px;
  top: -30px;
  left: 30px;
  border-radius: 10%;
  margin: 10px 0 0 10px;
  box-shadow: 0 0 0 4px #edc674;
}

.full {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.img-wrapper:hover .full img {
  visibility: visible;
  width: 225px;
}

@media only screen and (max-width: 688px) {
  .nav {
    position: fixed;
    left: 0;
    top: 95%;
    width: 100%;
    height: 10%;
    border-top: 1px;
    border-style: solid;
    background-color: #dfd;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 100;
  }

  .menu-btn {
    margin-left: 48%
  }

  .responsive-menu{
    position: fixed;
    top: 75%;
    width: 100%;
    max-height: 20%;
    display: block;
    text-align: center;
    overflow: scroll;
    border: 1px;
    border-style: solid;
    background-color: #fff;
    z-index: 100;
    display: none;
  }

  .responsive-menu li {
    border-bottom: 1px;
    padding: 5px;
    border-style: solid;
  }

  .active {
    background-color: #dfd;
  }

  .responsive-menu img {
    display: none;
  }

  .expand {
    display: block !important;
  }

  body {
    padding: 3em;
  }

  nav img {
    display: none;
  }

  .main {
    margin: 0;
    padding: 30% 0;
    margin-bottom: 10vh;
    max-width: 100vh;
  }

  .full {
    left: 0;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline;
  }
}
